body {
  background-color: black;
}
.contenedorpro {
  background-color: white;
  text-align: center;
}
.titulo {
  font-size: 40px;
}
/* Estilos para las filas de productos */
.contproduc {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  width: 80%; /* Cambia el ancho según sea necesario */

  justify-content: space-between;
}
/* Estilos para las tarjetas de producto */
.tarjeta-producto {
  background-color: white;
  border: 3px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 15%;
  transition: transform 1s ease;
}

/* Estilos para las imágenes dentro de las tarjetas */
.tarjeta-producto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  transition: transform 1s ease;
}

.tarjeta-producto h2:hover {
  color: rgb(255, 0, 0);
}

.tarjeta-producto img:hover {
  transform: scale(1.3);
}

.tarjeta-producto:hover {
  transform: scale(1.2);
}
.botoNave {
  width: 80%;
}
.fopro {
  background-color: black;
  color: white;
  font-size: 20px;
}
.boton {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 5px 5px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s ease;
  z-index: 1;
}

.boton::before {
  background-color: rgb(255, 0, 0);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.1s ease;
}

.boton:hover::before {
  background-color: rgb(0, 0, 0);
  box-shadow:
    0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 255, 255),
    0 0 30px rgb(255, 0, 0),
    0 0 40px rgb(255, 255, 255);
}

.boton:hover {
  color: rgb(255, 255, 255);
}
.contnav {
  padding: 20px;
  width: 77%;
}
