body {
  background-color: black;
}
.contenedorin {
  background-color: #ffffff;
  padding: 10px;
}
.img_indi {
  display: flex;
  flex-direction: row;
}
h3 {
  color: red;
}
h2 {
  color: red;
}

.imagen_A {
  padding: 10px;
  margin-top: 10px;
}

.imagen_A img {
  max-width: 100%;
  max-height: 200px;
}
.boton {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 1.2rem;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s ease;
  z-index: 1;
}

.boton::before {
  background-color: rgb(255, 0, 0);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.1s ease;
}

.boton:hover::before {
  background-color: rgb(0, 0, 0);
  box-shadow:
    0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 255, 255),
    0 0 30px rgb(255, 0, 0),
    0 0 40px rgb(255, 255, 255);
}

.boton:hover {
  color: rgb(255, 255, 255);
}

.foind {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font: 100% sans-serif;
  font-size: 20px;
}
