body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

#filtros input,
#filtros select {
    margin-right: 10px;
    margin-bottom: 10px;
}

#resultados {
    width: 100%;
    margin-top: 20px;
}

.cargando {
    display: none;
    text-align: center;

}

#tablaResultados {
    width: 100%;
    border-collapse: collapse;
}

#tablaResultados th,
#tablaResultados td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tablaResultados th {
    color: black;
    background-color: #f2f2f2;
}

#filtros {
    margin: 0 auto;
    max-width: 600px;
}

.boton {
    background-color: red;
    color: #000000;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .boton:hover {
    color: rgb(255, 255, 255);
  }

.paginacion {
    text-align: center;
}